body{
	color:#333;
	font-size:14px;
	line-height:1.5;
	background-color:#fff;
	}
p{
	margin:0;
	padding:0
}
.content{
	margin:0 auto;
	width:600px;
	border:1px solid red;
	
	}
.tip{
	background-color:#fefaf1; 
	border:solid 1px #fed698;
	padding:8px 8px 8px 32px;
	}
.order{
	height:26px;
	margin:7px  0;
	}
label{
	float:left;
	width:60px;
	text-align:right;
	}

.submit{
	background-color:#f90;
	display:inline-block;
	border-radius:3px;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	padding:6px 22px
	}

#content{
	margin:10px;
	width:600px;
	height:300px;
	border:1px solid red;
	}

input,select{
	margin-right:4px;
	margin-left:10px;
	float:left;
	width:170px
	}
span{
	float:left;
	margin-right:4px;
	}
	
	input:focus,input:hover, select:focus,select:hover{ color: #000;  background: #E7F1F3; border: 1px solid #888;}
